MDK-ARM/ws2811/
*.uvoptx
*.uvguix.*
*.LOG
*.OutputStatus
*.lst
*.dbgconf
*.scvd
*.TMP
UpgradeLog.htm
*.suo
obj/
bin/
.vs/
*.cmp
*.bin
*~$*.*
*.sublime-workspace
firmware/MDK-ARM/TimerSwitch/
firmware/*/Backup/

